/ClienteEscritorioCuponSmart/nbproject/private/
/ClienteEscritorioCuponSmart/build/
/ClienteEscritorioCuponSmart/dist/
/APICuponMart/build/
/ClienteEscritorioCuponSmart/Source Package/utils/Constantes.java
/APICuponMart/nbproject/private/