<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="empresa">
    <insert id="agregar_empresa" parameterType="modelo.pojo.Empresa">
        INSERT INTO empresa (nombre, nombre_comercial, representante_legal, email, telefono, pagina_web, rfc, estatus_id)
        VALUES (#{nombre}, #{nombreComercial}, #{representanteLegal}, #{email}, #{telefono}, #{paginaWeb}, #{RFC}, #{estatusID})
    </insert>
    <update id="editar_empresa" parameterType="modelo.pojo.Empresa">
        UPDATE empresa
        SET nombre = #{nombre},
        nombre_comercial = #{nombreComercial},
        representante_legal = #{representanteLegal},
        email = #{email},
        telefono = #{telefono},
        pagina_web = #{paginaWeb},
        estatus_id = #{estatusID}
        WHERE rfc = #{RFC}
    </update>
    <delete id="eliminar_empresa" parameterType="String">
        DELETE FROM empresa
        WHERE rfc = #{RFC}
    </delete>
    <select id="buscar_empresa" resultType="modelo.pojo.Empresa" parameterType="String">
        SELECT *
        FROM empresa
        WHERE nombre LIKE CONCAT('%', #{param}, '%')
        OR rfc LIKE CONCAT('%', #{param}, '%')
        OR representante_legal LIKE CONCAT('%', #{param}, '%')
    </select>
    <select id="contar_sucursales_asociadas" resultType="int" parameterType="String">
        SELECT COUNT(*) FROM sucursal
        WHERE empresa_rfc = #{RFC}
    </select>
    <update id="subir_logo" parameterType="modelo.pojo.Empresa">
        UPDATE empresa
        SET logo = #{logo} 
        WHERE rfc = #{RFC}
    </update>
    <select id="obtener_logo" parameterType="String" resultType="modelo.pojo.Empresa">
        SELECT rfc, TO_BASE64(logo) AS 'logoBase64'
        FROM empresa WHERE rfc = #{RFC}
    </select>
</mapper>
