<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sucursal">
    <insert id="agregarSucursal" parameterType="modelo.pojo.Sucursal">
        INSERT INTO sucursal (nombre, telefono, latitud, longitud, nombre_encargado, empresa_rfc)
        VALUES (#{nombre}, #{telefono}, #{latitud}, #{longitud}, #{nombre_encargado}, #{empresa_rfc})
    </insert>
    <update id="editarSucursal" parameterType="modelo.pojo.Sucursal">
        UPDATE sucursal
        SET nombre = #{nombre},
        telefono = #{telefono},
        latitud = #{latitud},
        longitud = #{longitud},
        nombre_encargado = #{nombre_encargado}
        WHERE id_sucursal = #{id_sucursal}
    </update>
    <delete id="eliminarSucursal" parameterType="int">
        DELETE 
        FROM sucursal
        WHERE id_sucursal = #{id_sucursal}
    </delete>
    <select id="buscarSucursal" parameterType="String" resultType="modelo.pojo.Sucursal">
        SELECT DISTINCT s.*
        FROM sucursal s
        INNER JOIN direccion d ON s.id_sucursal = d.id_sucursal
        WHERE s.nombre LIKE CONCAT('%', #{param}, '%')
        OR d.calle LIKE CONCAT('%', #{param}, '%')
        OR d.numero LIKE CONCAT('%', #{param}, '%')
        OR d.colonia LIKE CONCAT('%', #{param}, '%')
    </select>

    <select id="contarPromocionesAsociadas" resultType="int" parameterType="int">
        SELECT COUNT(*) 
        FROM sucursal_promocion
        WHERE id_sucursal = #{id_sucursal}
    </select>
    <select id="cargarSucursal"  resultType="modelo.pojo.Sucursal">
        SELECT *
        FROM sucursal
    </select>

</mapper>
