<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="usuario">

    <insert id="agregarUsuarioComercial" parameterType="modelo.pojo.Usuario">
        INSERT INTO usuario (nombre, apellido_paterno, apellido_materno, curp, correo_electronico, username, password, id_rol, empresa_rfc)
        VALUES (#{nombre}, #{apellido_paterno}, #{apellido_materno}, #{curp}, #{correo_electronico}, #{username}, #{password}, #{id_rol}, #{empresa_rfc})
    </insert>
    
    <insert id="agregarUsuarioGeneral" parameterType="modelo.pojo.Usuario">
        INSERT INTO usuario (nombre, apellido_paterno, apellido_materno, curp, correo_electronico, username, password, id_rol)
        VALUES (#{nombre}, #{apellido_paterno}, #{apellido_materno}, #{curp}, #{correo_electronico}, #{username}, #{password}, #{id_rol})
    </insert>
    
    <update id="editarUsuarioComercial" parameterType="modelo.pojo.Usuario">
        UPDATE usuario
        SET nombre = #{nombre},
        apellido_paterno = #{apellido_paterno},
        apellido_materno = #{apellido_materno},
        correo_electronico = #{correo_electronico},
        password = #{password},
        empresa_rfc = #{empresa_rfc}
        WHERE id_usuario = #{id_usuario}
    </update>

    <update id="editarUsuarioGeneral" parameterType="modelo.pojo.Usuario">
        UPDATE usuario
        SET nombre = #{nombre},
        apellido_paterno = #{apellido_paterno},
        apellido_materno = #{apellido_materno},
        correo_electronico = #{correo_electronico},
        password = #{password}
        WHERE id_usuario = #{id_usuario}
    </update>

    <delete id="eliminarUsuario" parameterType="Integer">
        DELETE FROM usuario
        WHERE id_usuario = #{id_usuario}
    </delete>

    <select id="buscarUsuario" resultType="modelo.pojo.Usuario" parameterType="String">
        SELECT *
        FROM usuario
        WHERE nombre LIKE CONCAT('%', #{param}, '%')
        OR username LIKE CONCAT('%', #{param}, '%')
        OR id_rol LIKE CONCAT('%', #{param}, '%')
    </select>
    
    <select id="contarUsername" resultType="Integer" parameterType="String">
        SELECT COUNT(*) 
        FROM usuario
        WHERE username = #{username} 
    </select>
    
    <select id="contarCurp" resultType="Integer" parameterType="String">
        SELECT COUNT(*) 
        FROM usuario
        WHERE curp = #{curp}
    </select>
   
    <select id="cargarUsuarios" resultType="modelo.pojo.Usuario" parameterType="Integer">
        SELECT *
        FROM usuario
        WHERE id_usuario != #{id_usuario}
    </select>


</mapper>
